/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* #container {
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    width: 100%;
    height: 100%;
} */

#canvas1 {
    border: 1px solid rgb(243, 106, 255);
    position: absolute;
    top: 50%;
    left: 53%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.b {
    height: 55px;
    width: 80px;
    border-radius: 5px;
    background-color: #782680;
    color: white;
    margin: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: none;
}

.blob {
    box-shadow: 0 0 0 0 #782680;
    transform: scale(1);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 #782680;
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(38, 224, 14, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(86, 243, 38, 0);
    }
}

.vis {
    display: block;
}