audio {
    filter: hue-rotate(120deg);
    filter: saturate(0%);
    filter: sepia(40%);
    width: 350px;
    height: 30px;
}

p {
    color: #0075ff;
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
}

span {
    color: black;
    font-weight: bold;
    text-align: center;
}

div {
    background-color: lightgreen;
    width: 70%;
    padding: 30px 70px 30px 70px;
    border-radius: 10px;
    text-align: center;
}
