
body {
	background-image: url(../../Images/3501.jpg);
	background-repeat: no-repeat;
    background-size: cover;
  }

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 300px;
}

.sound-buttons .sound-button {
    width: 200px;
    height: 100px;
    font-size: 24px;
    border: 5px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    font-family: 'Red Rose', cursive;
}

.sound-button.active {
    border-color: blue;
}

#expbonni {
    height: 430px;
    width: 1000px;
    margin-top: 100px;
    position: relative;
    margin-left: 28%;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.6);
    text-align: center;
    padding: 10px;
    font-family: 'Red Rose', cursive;
}
